#About {
  margin-left: 15rem;
}
.about-h5 {
  margin-top: -8rem;
  margin-left: 30rem;
}
.about-h2 {
  margin-left: 30rem;
}
.title p {
  margin-left: 30rem;
}
.experience {
  display: flex;
  flex-direction: row;
  margin-left: 30rem;
  gap: 2rem;
  text-align: center;
  font-size: 1rem;
  color: #fa2a05;
  margin-bottom: -3rem;
}
.experience h4 {
  color: #000;
}
.title1 {
  width: 20rem;
  height: 50rem;
  transition: 400ms;
  margin-top: -15rem;
  overflow: hidden;
}
.title1:hover {
  transform: scale(1.2);
}
.title1 img {
  width: 20rem;
  height: 52rem;
  margin-top: -15rem;
}
.title2 {
  width: 70rem;
  height: 20rem;
  margin-top: -15rem;
}
.title2 img {
  width: 70rem;
  height: 20rem;
  margin-top: -30rem;
  margin-left: 23rem;
}
