.home-box img {
  position: relative;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.content {
  position: absolute;
  margin-top: -30rem;

  display: block;
  text-align: center;
  color: #ffff;
  z-index: 600;
  margin-left: 25rem;
}
.button {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-right: -20rem;
}
.button a {
  color: #00ffff;
  margin-top: 0.5rem;
}
.button-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3rem;
  background: #020c1b;
  text-align: center;
  border-radius: 0.2rem;
  margin-top: 1.5rem;
  margin-left: 5rem;
  border: #00ffff 2px solid;
}
.button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  background: #020c1b;
  text-align: center;
  border-radius: 0.2rem;
  overflow: hidden;
  margin-top: 1.5rem;
  border: #00ffff 2px solid;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 200;
}
