Navbar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0.75em 0.75em 1em rgba(207, 202, 202, 0.1);
  opacity: 0.6;
  background: #020c1b;
}
nav a {
  background: transparent;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  color: #00ffff;
  font-size: 1rem;
  align-items: center;
  text-decoration: none;
}
.navbar a:hover {
  background: #00ffff;
  color: #020c1b;
  transition: 0.7s;
}
.navbar {
  display: flex;
  flex-direction: row;
}
.office {
  margin-top: -1rem;
  color: #f30c19;
  font-weight: 400;
  font-size: 1.2rem;
}
.agency {
  margin-top: 3rem;
  margin-left: -6.5rem;
}
