.footer {
  margin-top: -12rem;
  background: #02021c;
  height: 5.5rem;
  color: #00ffff;
}
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social a {
  color: #00fff0;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.8rem;
  transition: (0.5s);
}
.social a :hover {
  background: transparent;
  color: #5d07e9;
  cursor: default;
  transition: trasition;
}
.copy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
